body {
	
	align-content: center;
	justify-content: space-evenly;
	margin: auto;
	padding-top: 1em;
	text-align: center;
	background: #1A1C1F;
	color: #CBCBCB;
}

#gallery-wrapper{
    display: flex;
	flex-direction: row;
}

.gallery-image-panel{
    display: flex;
    text-align: center;
    justify-content: center;
    border: solid 1px;
    height: 20rem;
    width: 20rem;
    margin: 1rem;
    max-width: 20rem;
    max-height: 20rem;
}

.gallery-image-panel img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}