body {
    user-select: text;
    align-content: center;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 1em;
    text-align: center;
    background: #1A1C1F;
    color: #CBCBCB;
}

#gallery-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.gallery-image-panel {
    display: flex;
    text-align: center;
    justify-content: center;
    border: solid 1px;
    height: 15rem;
    width: 15rem;
    margin: 1rem;
    max-width: 20rem;
    max-height: 20rem;
}

.btn {
    user-select: none;
    font-size: 2rem;
}

.gallery-image-panel img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#image-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-around;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#image-panel {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh;
    padding: 1.5rem;
    flex-grow: 3;
}

#image-panel img {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.hidden {
    display: none !important;
}

#close-btn {
    position: fixed;
    top: 1rem;
    left: 2rem;
    z-index: 1002;
}

#info-btn {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 1002;
}

#image-info-panel {
    background-color: #1A1C1F;
    min-width: 15%;
    max-width: 20%;
    padding: 2rem;
    overflow-y: auto;
}

#image-info-table {
    text-align: justify;
    table-layout: fixed;
}

#image-info-table td {
    padding: 0.2rem 0.5rem;
}

.slider-button {
    padding: 0.5rem;
    opacity: 0.4;
    margin: 0;
    font-size: 3rem;
    position: absolute;
}

.slider-button:hover {
    opacity: 1;
}

#previous-btn {
    left: 0;
}

#next-btn {
    right: 0;
}